<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Components</title>
    <!-- <link rel="stylesheet" href="/dist/output.css"> -->
     <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body class="bg-neutral-1000">

    <!-- create account -->
    <section> 
      <button class="">
        <div class="px-6 py-2 w-72 h-9 rounded-3xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-50 w-157 h-19 flex">
          <p class="font-Inter font-bold text-base text-center">Create account</p>
        </div>
      </button>
    </section>

    <!-- signup button  -->
    <section>
      <button class="">
        <div class="px-6 py-2 w-72 h-10 rounded-3xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-50 w-157 h-19 flex gap-2">
          <img class="w-6 h-6" src="/images/google.svg" alt="">
          <p class="font-Inter font-bold text-base text-center">Sign up with Google</p>
        </div>
      </button>
    </section>



    

  <h1>Assignment 1.1 - Build Button Components</h1>
   <section class="flex">
     <!-- create account buttons -->
     <section>
      <!-- default -->
      <section> 
        <button class="">
          <div class="px-6 py-2 w-83.5 h-8.75 rounded-4xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-50 w-157 h-19 flex">
            <p class="font-Inter font-bold text-base text-center">Create account</p>
          </div>
        </button>
      </section>
      <!-- hover -->
      <section> 
        <button class="">
          <div class="px-6 py-2 w-83.5 h-8.75 rounded-4xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-200 w-157 h-19 flex">
            <p class="font-Inter font-bold text-base text-center">Create account</p>
          </div>
        </button>
      </section>
      <!-- disabled -->
      <section> 
        <button class="">
          <div class="px-6 py-2 w-83.5 h-8.75 rounded-4xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-500 w-157 h-19 flex">
            <p class="font-Inter font-bold text-base text-center">Create account</p>
          </div>
        </button>
      </section>
      <!-- outline -->
      <section> 
        <button class="">
          <div class="px-6 py-2 w-83.5 h-8.75 rounded-4xl border border-border-blue shadow-md backdrop-blur-xl justify-center items-center w-157 h-19 flex">
            <p class="font-Inter font-bold text-base text-center text-twitter-blue">Sign up</p>
          </div>
        </button>
      </section>
    </section>



    <!-- follow buttons -->
    <section class="gap-2.5">
      <!-- default  -->
      <section>
        <button>
          <div class="px-5 py-2 rounded-3xl items-center bg-neutral-50 justify-center">
            <p class="font-Inter font-bold text-sm text-neutral-1000">Follow</p>
          </div>
        </button>
      </section>
      <!-- hover -->
      <section>
        <button>
          <div class="px-5 py-2 rounded-3xl items-center bg-neutral-200 justify-center">
            <p class="font-Inter font-bold text-sm text-neutral-1000">Follow</p>
          </div>
        </button>
      </section>
      <!-- disabled -->
      <section>
        <button>
          <div class="px-5 py-2 rounded-3xl items-center bg-neutral-500 justify-center">
            <p class="font-Inter font-bold text-sm text-neutral-1000">Follow</p>
          </div>
        </button>
      </section>
    </section>


    
    <!-- Next buttons  -->
    <section class="justify-self-center">
      <!-- default -->
      <section> 
        <button class="">
          <div class="px-6 py-2 w-110.5 h-8.75 rounded-3xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-50 w-157 h-19 flex">
            <p class="font-Inter font-bold text-base text-center">Next</p>
          </div>
        </button>
      </section>
      <!-- hover -->
      <section> 
        <button class="">
          <div class="px-6 py-2 w-110.5 h-8.75 rounded-3xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-200 w-157 h-19 flex">
            <p class="font-Inter font-bold text-base text-center">Next</p>
          </div>
        </button>
      </section>
      <!-- disabled -->
      <section> 
        <button class="">
          <div class="px-6 py-2 w-110.5 h-8.75 rounded-3xl shadow-md backdrop-blur-xl justify-center items-center bg-neutral-500 w-157 h-19 flex">
            <p class="font-Inter font-bold text-base text-center">Next</p>
          </div>
        </button>
      </section>
      <!-- outline -->
      <section> 
        <button class="">
          <div class="px-4 py-1.5 rounded-3xl border border-border-blue shadow-md backdrop-blur-xl justify-center items-center w-157 h-19 flex">
            <p class="font-Inter font-bold text-sm text-center text-neutral-50">Following</p>
          </div>
        </button>
      </section>
    </section>
   </section>






    <section class="flex">
      <!-- post buttons m  -->
    <section class=" gap-2.5">
      <!-- default  -->
      <button class="">
        <div class="px-23.25 py-3.75 rounded-9999 bg-twitter-blue shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
      <!-- hover  -->
      <button class="">
        <div class="px-23.25 py-3.75 rounded-9999 bg-twitter-blue-hover shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
      <!-- disabled  -->
      <button class="">
        <div class="px-23.25 py-3.75 rounded-9999 bg-twitter-blue-disabled shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
    </section>

    <!-- post buttons s  -->
    <section class=" gap-2.5">
      <!-- default  -->
      <button class="">
        <div class="px-6 py-3 rounded-9999 bg-twitter-blue shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
      <!-- hover  -->
      <button class="">
        <div class="px-6 py-3 rounded-9999 bg-twitter-blue-hover shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
      <!-- disabled  -->
      <button class="">
        <div class="px-6 py-3 rounded-9999 bg-twitter-blue-disabled shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
    </section>

    <!-- post buttons l  -->
    <section class=" gap-2.5">
      <!-- default  -->
      <button class="">
        <div class="p-5 w-110.5 h-15 rounded-9999 bg-twitter-blue shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
      <!-- hover  -->
      <button class="">
        <div class="p-5 w-110.5 h-15 rounded-9999 bg-twitter-blue-hover shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
      <!-- disabled  -->
      <button class="">
        <div class="p-5 w-110.5 h-15 rounded-9999 bg-twitter-blue-disabled shadow-md backdrop-blur-xl justify-center items-center flex">
          <p class="font-Inter font-bold text-base text-center text-neutral-50">Post</p>
        </div>
      </button>
    </section>
    </section>





    <!-- current tab  -->
    <section class="px-20 pt-5 w-150 h-15 gap-40 flex bg-slate-900 justify-center items-center">
      <section >
        <button>
          <div class="gap-4 rounded-2xl">
            <p class="pb-3.5 font-bold text-base text-neutral-50">For you</p>
            <p class="rounded-3xl border-b-2 border-twitter-blue"></p>
          </div>
        </button>
      </section>
      <section>
        <button>
          <div class="gap-4 rounded-2xl">
            <p class="pb-3.5 font-bold text-base text-neutral-50">Following</p>
            <p class="rounded-3xl border-b-2 border-twitter-blue"></p>
          </div>
        </button>
      </section>
    </section>


    <!-- icons -->
    <section class="p-10 flex gap-4">
      <!-- home -->
      <section class="">
        <div class="gap-2">
          <img class="h-6 w-6 " src="/images/home-notActive.svg" alt="">
          <img class="h-6 w-6 " src="/images/home-active.svg" alt="">
        </div>
      </section>
      <!-- profile -->
      <section class="">
        <div class="gap-2">
          <img class="h-6 w-6 p-1" src="/images/group-notActive.svg" alt="">
          <img class="h-6 w-6 " src="/images/group-active.svg" alt="">
        </div>
      </section>
    </section>










    <!-- <section>
      <section class="flex">
        <div class="px-3 py-4 w-110.5 bg-black rounded-l border border-neutral-500 shadow-md backdrop-blur-xl justify-center items-center flex">
          <legend class="text-neutral-50">Lebel</legend>
          <input class="font-Inter text-base text-center text-neutral-50 bg-opacity-0">lebel</input>
        </div>
      </section>
    </section> -->



    <h1>Assignment 1.2 - Build Input Components</h1>
    <!-- input tab -->
    <section class="mb-10">
      <!-- inactive tab  -->
      <section>
        <fieldset class="px-3 py-4 w-110.5 rounded border border-neutral-500 flex gap-2.5">
          <legend class="px-1 text-sm font-medium text-neutral-500">Label</legend>
          <input class="w-full text-xl items-center bg-transparent" type="text" placeholder="label">
        </fieldset>
      </section>
      <!-- acitve tab  -->
      <section>
        <fieldset class="px-3 py-4 w-110.5 rounded border border-twitter-blue flex gap-2.5">
          <legend class="px-1 text-sm font-medium text-twitter-blue">Label</legend>
          <div class="w-full flex justify-between items-center">
            <input class="w-auto h-auto text-xl items-center text-neutral-50 bg-transparent" type="text" value="value" placeholder="label">
            <img class="w-6 h-6 flex-shrink-0" src="/images/tick.svg" alt="">
          </div>
        </fieldset>
      </section>
    </section>


    <!-- composing tweet tabs  -->
    <section class="p-5">
      <div class="w-110.5 h-9 gap-3 flex">
        <img class="w-9 h-9 rounded-4xl flex-shrink-0" src="/images/profilePic.png" alt="profile picture">
        <input class="w-full border-l-2 border-twitter-blue font-Inter text-xl font-normal bg-transparent" type="text" name="" id="" placeholder="What’s happening?!">
      </div>
    </section>
    <section class="p-5">
      <div class="w-110.5 h-9 gap-3 flex">
        <img class="w-9 h-9 rounded-4xl flex-shrink-0" src="/images/profilePic.png" alt="profile picture">
        <input class="w-full border-l-2 border-twitter-blue font-Inter text-xl text-neutral-50 font-normal bg-transparent" type="text" name="" value="Don't wish for it, work for it." placeholder="What’s happening?!">
      </div>
    </section>


    <!-- search tabs  -->
    <section class="p-5">
      <div class="py-2.5 pl-4 pr-60 w-83.5 h-10 rounded-9999 bg-searchbar-fill items-start  flex gap-4">
        <img class="p-0.5 w-5 h-5 justify-center content-center flex-shrink-0" src="/images/search-notActive.svg" alt="">
        <input class="text-base font-Chirp bg-transparent" type="text" placeholder="Search">
      </div>
    </section>
    <section class="p-5">
      <div class="py-2.5 pl-4 pr-60 w-83.5 h-10 rounded-9999 border border-twitter-blue bg-searchbar-fill items-start  flex gap-4">
        <img class="p-0.5 w-5 h-5 justify-center content-center flex-shrink-0" src="/images/search-active.svg" alt="">
        <input class="text-neutral-50 text-base bg-transparent focus:no-outline" type="text" placeholder="Search" value="Search">
      </div>
    </section>






    <h1>Assignment 1.3 - Build Card Components</h1>
    <!-- 1.3 - Card Components -->
    <section class="p-5 bg-searchbar-fill">
      <!-- input tweet  -->
      <section class="m-2.5">
        <div class="w-110.5 h-96 rounded-2xl bg-neutral-1000 items-center justify-between flex-col flex-shrink-0">
          <p class="px-4 py-2.5"></p>
        </div>
      </section>
      <!-- signup 1 -->
      <section class="m-2.5">
        <div class="px-4 py-2.5 w-110.5 h-52 rounded-2xl bg-neutral-1000 items-center justify-between flex-col flex-shrink-0 gap-3">
          <div class="px-4 py-2 gap-4 flex">
            <img src="/images/cancel.svg" alt="">
            <header class="text-neutral-50 font-bold">Header</header>
          </div>
          <p class="px-4 py-2.5"></p>
        </div>
      </section>
      <!-- signup 2 -->
      <section class="m-2.5">
        <div class="px-4 py-2.5 w-110.5 h-52 rounded-2xl bg-neutral-1000 items-center justify-between flex-col flex-shrink-0 gap-3">
          <div class="px-4 py-2">
            <img src="/images/cancel.svg" alt="">
          </div>
          <p class="px-4 py-2.5"></p>
        </div>
      </section>
    </section>





    <h1>Assignment 1.4 - Build Tweet Components</h1>
    <!-- build tweet component  -->
    <section>
      <section class="p-5 bg-searchbar-fill">
        <div class="px-4 py-2 w-150 h-auto border-b border-neutral-700 bg-neutral-1000 flex gap-4">
          <div>
            <img class="w-12 h-12 rounded-full flex-shrink-0" src="/images/profilePic.png" alt="profile picture">
          </div>
          <div>
            <div class="flex gap-2">
              <p class="text-neutral-50">Name</p>
              <p class="text-neutral-500">@handle • 10h</p>
            </div>
            <p class="text-neutral-50">Writing gets easier after the first sentence. <br><br> Lifting gets easier after the first set. <br><br> People think and think and think until they finally decide to act. Their attention shifts from internal to external, and the difficulty they created in their mind vanishes.</p>
            <div class="py-3 flex justify-between">
              <!-- comment  -->
              <div class="flex gap-1 items-center justify-center">
                <img class="w-3.5 h-3.5" src="/images/comment.svg" alt="">
                <p class="text-sm font-normal font-Inter text-neutral-500">11</p>
              </div>
              <!-- group  -->
              <div class="flex gap-1 items-center justify-center">
                <img class="w-3.5 h-3.5" src="/images/group.svg" alt="">
                <p class="text-sm font-normal font-Inter text-neutral-500">270</p>
              </div>
              <!-- heart  -->
              <div class="flex gap-1 items-center justify-center">
                <img class="w-3.5 h-3.5" src="/images/heart.svg" alt="">
                <p class="text-sm font-normal font-Inter text-neutral-500">1,869</p>
              </div>
              <!-- frame  -->
              <div class="flex gap-1 items-center justify-center">
                <span class="flex gap-0.5 items-end">
                  <p class="w-0.5 h-2.5 bg-neutral-500"></p>
                  <p class="w-0.5 h-3.5 bg-neutral-500"></p>
                  <p class="w-0.5 h-2 bg-neutral-500"></p>
                  <p class="w-0.5 h-3 bg-neutral-500"></p>
                </span>
                <p class="text-sm font-normal font-Inter text-neutral-500">99.6k</p>
              </div>
              <!-- vector  -->
              <div class="flex gap-1 items-center justify-center">
                <img class="w-3.5 h-3.5" src="/images/vector.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>


    
  </body>
</html>
